@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --color-base: #0F1117;
    --color-card: #1A1D27;
    --color-card-hover: #21253A;
    --color-accent: #E2B94B;
    --color-accent-dim: #A07E28;
    --color-surface: #E8E8E8;
    --color-muted: #9A9A9A;
    --color-danger: #E25555;
    --color-border: #2A2D3A;
}

body {
    background-color: #0F1117;
    color: #E8E8E8;
    font-family: 'Inter', sans-serif;
}